/* Header */

.header-container {
  display: flex;
  height: 50px;
  align-items: center;
  background-color: #012121;
  font-weight: bold;
}

.header-link-container {
  margin-left: 20px;
}

.header-container p,
.header-container a {
  font-family: Helvetica, sans-serif;
  color: white;
  text-decoration: wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
}

.header-container p:hover,
.header-container a:hover {
  color: #98b8b8;
  transition: ease-in-out 0.25s;
}

/* About + Not Found */

.about-container,
.not-found-container {
  text-align: center;
}

.about-container h2,
.not-found-container h2 {
  font-family: Helvetica, sans-serif;
}

.about-container img,
.not-found-container img {
  width: 500px;
  height: 500px;
}

/* Catalog */

.catalog-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

/* stylelint-disable no-descending-specificity */
.catalog-container a {
  text-decoration: none;
}

.catalog-header {
  width: 100%;
  text-align: center;
}

.catalog-container h1 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  color: #012121;
  text-decoration: wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 12px;
}

.product-card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: solid #012121 2px;
  border-radius: 30px;
  text-align: center;
}

.product-card:hover {
  opacity: 50%;
  transition: ease-in-out 0.25s;
}

.product-card:active {
  opacity: 100%;
  transition: ease-in-out 0.1s;
}

.product-card-image img {
  max-width: 75%;
  object-fit: contain;
}

.product-card h2,
.product-card h3,
.product-card h4,
.product-card p {
  font-family: Helvetica, sans-serif;
}

.product-card h2 {
  color: #274747;
  font-size: 18px;
  text-decoration: wavy underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 5px;
}

.product-card h3 {
  color: #739393;
  font-size: 12px;
}

.product-card h4 {
  color: #274747;
  font-size: 14px;
}

.product-card p {
  color: #98b8b8;
  font-size: 10px;
}
